.artisan-cards{
    .card{padding-left: 20px;
    position:initial;
    .ligne{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
  
    }

    .button-container{
        display: flex;
        justify-content: center;
    }
}
}

